.exam{
    position: relative;
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
    top: 25%;
    margin-top: 20px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 25px;

}
.exam p{
    position: relative;
    display: inline-block;
    float: left;
    font-size: 14pt;
    color: #0081A1;


}
.exam p:hover{
    color: #035B8F;
}
.exam button:hover{
    background-color: white;
    color: #003C60;
}
.exam button {
    display: inline-block;
    position: relative;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #60f3ab;
    color: #003C60;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 25px;
    width: 20%;
}
