.tab-list {
    border-bottom: 1px solid #ccc;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    align-self: center;
}

.tab-list-active {
    background-color: rgb(255, 255, 255);
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
}
